/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  /*  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-moz-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A5A5A5),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:Century Gothic,arial,sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    z-index: -1000;
  
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#page {
    
}

#backgroundMain{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 0;
}

body #page #currentLocation{
   width: 5%;
   height: 3.5%;
   z-index: 2;
   bottom: 50%;
   left: 50%;
   position: absolute;
}
body #page #parkedCar{
   width: 9%;
   height: 7%;
   z-index: 2;
   bottom: 52.2%;
   left: 50%;
   position: absolute;
   visibility: hidden;
}

body #page #searchedLocation{
   width: 9%;
   height: 8%;
   z-index: 0;
   bottom: 45%;
   left: -43%;
   position: absolute;
   visibility: hidden;
}

body #page #timer{
   width: 18%;
   height: 7%;
   z-index: 2;
   bottom: 7%;
   left: 41%;
   position: absolute;
   visibility: hidden;
}

body #page #magGlass{
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 1;
    top: 8px;
    left: 12px;
}

body #page #filterParking{
    width: 10%;
    height: 12%;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #520063),
        color-stop(1, #520063)
    );
    top: 44%;
    position: absolute;
    right: 90%;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    box-shadow: 2px 2px 3px 1px #B2A695;
      
}

body #page #filterParking #filterIcon{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 12.5%;
    visibility: visible;
}

body #page #filterParking #returnFilter{
        /*background-image: url(../img/clickBar.png);*/
        width: 0%;
        height: 0%;
        left: 94%;
        position: absolute;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
}

body #page #filterParking #returnFilter #clickBar{
    width: 100%;
    height: 20%;
    left: 20%;
    top: 40%;
    position: relative;
}

body #page #filterParking #filterButtonFree{
    width: 0%;
    height: 25%;
    top: 0%;
    display: block;
    position: absolute;
    
}

body #page #filterParking #filterButton2h{
    width: 0%;
    height: 25%;
    top: 25%;
    display: block;
    position: absolute;
    
}

body #page #filterParking #filterButtonMeter{
    width: 0%;
    height: 25%;
    top: 50%;
    display: block;
    position: absolute;
    
}

body #page #filterParking #filterButtonPaid{
    width: 0%;
    height: 25%;
    top: 75%;
    display: block;
    position: absolute;
    
}

/*body #page #filterParking #filterButtonFree:hover{
    box-shadow:inset 0 0 10px #000000;
}
body #page #filterParking #filterButton2h:hover{
    box-shadow:inset 0 0 10px #000000;
}
body #page #filterParking #filterButtonMeter:hover{
    box-shadow:inset 0 0 10px #000000;
}
body #page #filterParking #filterButtonPaid:hover{
    box-shadow:inset 0 0 10px #000000;
}*/

body #page #filterTime{
    width: 10%;
    height: 12%;
    left: 90%;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #520063),
        color-stop(1, #520063) /* AC7EAF*/
    );
    top: 44%;
    position: absolute;
    right: 0%;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    box-shadow: -2px 2px 3px 1px #B2A695;
    
}

body #page #filterTime #clockIcon{
    width: 90%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 10%;
    visibility: visible;
}

body #page #filterTime #timeText {
    color: white;
    font-size: 16px; /*Mobile Text */
    text-align: center;
    font-weight: lighter;
    font-family:Century Gothic,arial,sans-serif;
    text-transform: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-decoration: underline;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    visibility: hidden;
    position: relative;
    top: 1%;
}


body #page #filterTime #returnTime{
        width: 0%;
        left: 0%;
        height: 0%;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        position: absolute;
}

body #page #filterTime #returnTime #clickBar2{
    width: 100%;
    height: 20%;
    left: 10%;
    top: 40%;
    position: relative;
}

body #page #filterTime #timeFilter1 {
    width: 80%;
    height: 30%;
    left: 13%;
    top: 13%;
    position: absolute;
    visibility: hidden;
}

body #page #filterTime #timeFilter2 {
    width: 80%;
    height: 45%;
    left: 13%;
    top: 47%;
    position: absolute;
    visibility: hidden;
}

body #page #filterTime #timeScroll {
    visibility: hidden;
    display: none;
}

body #page #parkingBar{
    width: 100%;
    height: 6%;
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #520063),
        color-stop(1, #520063)
    );
    top: 95%;
    position: absolute;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    box-shadow: 0px -2px 3.5px 1px #B2A695;
}

body #page #parkingBar #parkText {
    color: white;
    font-size: 20px; /*Mobile size */
    text-align: center;
    font-weight: lighter;
    font-family:Century Gothic,arial,sans-serif;
    text-transform: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    vertical-align: middle;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    visibility: visible;
}

body #page #parkingBar #returnBar{

        width: 0%;
        height: 0%;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        position: absolute;
}

body #page #parkingBar #returnBar #clickBar3{
    width: 10%;
    height: 100%;
    left: 45%;
    top: 25%;
    margin-top: 2px;
    position: absolute;
}

body #page #parkingBar #rememberButton{
    width: 75%;
    height: 25%;
    position: absolute;
    left: 12.5%;
    top: 70%;
    visibility: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #000000;
}

body #page #parkingBar #clearSpot{
    width: 95%;
    height: 35%;
    position: absolute;
    left: 2.5%;
    top: 22.5%;
    visibility: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #000000;
}

body #page #parkingBar #parkRemind{
    width: 80%;
    height: 70%;
    position: absolute;
    left: 10%;
    top: 2.5%;
    visibility: hidden;
    border-radius: 3px;
}

body #page #parkingBar #parkRemind #remindImg{
    height: 50%;
    width: 100%;
    position: absolute;
    visibility: inherit;
    z-index: 2;
    top: 25%;
}

body #page #parkingBar #parkRemind #addReminder{
    width: 5%;
    height: 10%;
    position: absolute;
    left: 0%;
    top: 67%;
    z-index: 2;
    visibility: inherit;
}


body #page #searchScreen{
    width: 100%;
    border-top-color: #520063;
    border-top: groove;
    border-width: thin;
    top: 10%;
    height: 90%;
    position: absolute;
    visibility: hidden;
}

body #page #searchScreen #searchBox{
    width: 95%;
    height: 95%;
    /*border-color: #520063;*/
    box-shadow: 0px 0px 1px 1px #c2c3c1;
    top: 2%;
    left: 2.5%;
    position: absolute;
    visibility: inherit;
    text-transform: none !important;
    opacity: 1;
}

body #page #searchScreen #searchBox #shadeDiv #searchOption1 #searchGlass{
    left: 2%;
    position: absolute;
    width: 33px;
    height: 33px;
    top: 22%;
    z-index: 1;
}

body #page #searchScreen #searchBox #shadeDiv{
    width: 100%;
    height: 12%;
    border-radius: 3px;
    z-index: 3;
}

body #page #searchScreen #searchBox #shadeDiv:hover{
    background: rgba(172, 126, 175, 0   .3);
}

body #page #searchScreen #searchBox #shadeDiv #searchOption1{
    width: 95%;
    height: 12%;
    /*left: 2.5%;*/
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-bottom: groove;
    border-bottom-width: thin;
    border-bottom-color: #c2c3c1;
    position: absolute;
    visibility: inherit;
    font-family:Century Gothic,arial,sans-serif !important;
}

body #page #searchScreen #searchBox #shadeDiv #searchOption1 h1{
    font-size: 15px;
    font-weight: lighter;
    color: #000000;
    left: 15%;
    text-align: left;
    line-height: 80%;
    top: 30%;
    position: absolute;
    visibility: inherit;
    
}

body #page #searchScreen #searchBox #shadeDiv #searchOption1 h2{
    font-size: 12px;
    font-weight: lighter;
    color: #3e3e3e;
    left: 15%;
    top: 50%;
    text-align: left;
    line-height: 80%;
    position: absolute;
    visibility: inherit;
}



h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.content .ui-icon-searchfield::after{
        display:none !important;
}
    
.content .ui-input-search{
        padding:0 35px !important;
        box-shadow: 1px 2px 4px 2px #B2A695;
}

.ui-content {
    padding: 5px !important;
}

